# Copyright (c) 2016, ETH Zurich.
#
# This file is distributed under the terms in the attached LICENSE file.
# If you do not find this file, copies can be found by writing to:
# ETH Zurich D-INFK, Universitaetstasse 6, CH-8092 Zurich. Attn: Systems Group.

title	Barrelfish
stack   16384
kernel	/armv8/sbin/cpu_foundation loglevel=3
module	/armv8/sbin/init
