# Copyright (c) 2015, ETH Zurich.
# Copyright (c) 2015, Hewlett Packard Enterprise Development LP.
# All rights reserved.
#
# This file is distributed under the terms in the attached LICENSE file.
# If you do not find this file, copies can be found by writing to:
# ETH Zurich D-INFK, Universitätstasse 6, CH-8092 Zurich. Attn: Systems Group.

title	Barrelfish
stack   16384
kernel	/armv8/sbin/cpu_foundation loglevel=4
module	/armv8/sbin/cpu_foundation
module	/armv8/sbin/init
