/*
 * Copyright (c) 2007, 2008, 2009, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */


/*
 * TODO: Decide if we send the aggregate object over the control channel
 *       or if we split it up and send raw buffers
 *
 */

interface bulk_ctrl "bulk control channel interface" {
    message copy_start(uint32 count);
    message copy(uint32 poolid, uint32 offset, uint32 length);
    
    message move_start(uint32 count);
    message move(uint32 poolid, uint32 offset, uint32 length);
    
    message free_start(uint32 count);
    message free(uint32 poolid, uint32 offset, uint32 length);
    
    message assign_pool(uint32 bufsize, uint32 count);
    message transfer_cap();
    
    
};
