/*
 * Copyright (c) 2007-2011, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */

/*
 * This interface is used for the devif interface for communication between
 * domains
 */
interface descq "Devif communication queue" {
    // create and destroy a queue
    rpc create_queue(in uint32 slots, in cap rx, in cap tx, in bool notifications, in uint8 role, out errval err, out uint64 queue_id);
    rpc destroy_queue(out errval err);

    // add a memory region to the buffer table
    rpc register_region(in cap cap, in uint32 rid, out errval err);
    rpc deregister_region(in uint32 rid, out errval err);

    rpc control(in uint64 cmd, in uint64 value, out uint64 result, out errval err);

    message enqueue_buffer(uint32 region_id, uint64 offset, uint64 length,
        uint64 valid_data, uint64 valid_length, uint64 flags, uint64 seq);

    message enqueued();
    message notify();
};
