/*
 * Copyright (c) 2013, University of Washington.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitaetstrasse 6, CH-8092 Zurich. Attn: Systems Group.
 */

interface e10k_vf "e10k VF/PF interface" {
	  rpc init_done(in uint8 vfn);
      
    /*****************************************************
     * For devif interface
     *****************************************************/
      rpc request_vf_number(out uint8 vfn, out uint64 mac, 
                            out cap regs, out cap irq, out cap iommu_ep,
                            out cap pci_ep, out errval err);

      // XXX: technically should not be in the VF interface
      // since it is only used withouth VFs
      rpc create_queue(in cap    tx,
                       in cap    txhwb,
                       in cap    rx,
                       in uint32 rxbufsz,
                       in coreid core,
                       in bool   use_irq,
                       in bool   msix,
                       in bool   use_rsc,
                       in bool   qzero,
                       out uint64 mac,
                       out int qid,
                       out cap regs,
                       out cap filter_ep,
                       out errval err);

      rpc create_queue_vf(out uint8 vfn,
                          out cap regs,
                          out cap interrupt,
                          out cap device,
                          out uint64 mac);

      rpc destroy_queue(in int qid, out errval err);

      message interrupt(uint16 qid);
};
