/*
 * Copyright (c) 2007, 2008, 2009, 2010, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface fb "Framebuffer server" {
        rpc get_framebuffer(out cap fbcap);

        rpc set_videomode(
               in int   xres,
               in int   yres,
               in int   bpp,
               out int error);

        rpc get_vesamode(out uint16 mode, out int linear, out int error);
        rpc set_vesamode(in uint16 mode, in int linear, in int clear,
                         out int error);

        rpc save_vesastate(out int error);
	rpc restore_vesastate(out int error);

        rpc vsync();
};
