/*
 * Copyright (c) 2007, 2008, 2009, 2010, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface intermon "The Interface between monitors" {

        /* from include/routing/routing.h */
        alias routeid uint32;
        alias recordid uint32;

        /* XXX Aliases for base system types */
        alias coreid_t uint8;
        alias chanid_t uint32;
        
        /* Types which we may need to change at some point, especially
            on a heterogeneous platform, or 32-bit only platform */
        alias con_id_t uint64;
        alias mon_id_t uint64;
        alias state_id_t uint64;

        /* Struct to marshal caps between cores */
        typedef struct {
            uint64 w0;
            uint64 w1;
            uint64 w2;
            uint64 w3;
        } caprep;

        /* used in route.c */
        typedef enum
        {
            UNICAST_TREE,
            MULTICAST_TREE
        } ROUTE_TYPE;

        message spawnd_image_request();
        message spawnd_image_reply(genpaddr base, uint32 bytes);

        message monitor_initialized();

        message trace_caps_request();
        message trace_caps_reply(caprep cap);

        message mem_serv_iref_request();
        message mem_serv_iref_reply(iref iref);

        message name_serv_iref_request();
        message name_serv_iref_reply(iref iref);

        message monitor_mem_iref_request();
        message monitor_mem_iref_reply(iref iref);

        message bind_monitor_request(coreid_t core_id, caprep cap);
        message bind_monitor_reply(errval err);
        message bind_monitor_proxy(coreid_t dst_core_id, caprep cap);

        message bind_monitor_request_scc(coreid_t core_id,
                                         caprep cap,
                                         chanid_t chan_id,
                                         coreid_t from_core_id);
        message bind_monitor_reply_scc(errval err,
                                       chanid_t chan_id,
                                       coreid_t core_id);
        message bind_monitor_proxy_scc(coreid_t dst_core_id,
                                       caprep cap,
                                       chanid_t chan_id,
                                       coreid_t core_id);

        message bind_monitor_request_bmp(coreid_t core_id,
                                         chanid_t chan_id,
                                         coreid_t from_core_id);
        message bind_monitor_reply_bmp(errval err,
                                       chanid_t chan_id,
                                       coreid_t core_id);
        message bind_monitor_proxy_bmp(coreid_t dst_core_id,
                                       chanid_t chan_id,
                                       coreid_t core_id);

        message new_monitor_notify(coreid_t core_id);

        message bind_ump_request(iref iref,
                                 mon_id_t mon_id,
                                 uint32 channel_length_in,
                                 uint32 channel_length_out,
                                 genpaddr framebase,
                                 uint8 framebits,
                                 caprep notify);
        message bind_ump_reply(con_id_t con_id,
                               mon_id_t mon_id,
                               errval err,
                               caprep notify);

        message bind_bmp_request(iref iref,
                                 mon_id_t mon_id,
                                 uint32 chanid,
                                 uint32 ep_len);
        message bind_bmp_reply(con_id_t con_id,
                               mon_id_t mon_id,
                               errval err,
                               uint32 chanid,
                               uint32 ep_len);

        message cap_send_request(con_id_t con_id,
                                 uint32 capid,
                                 caprep cap,
                                 bool give_away,
                                 bool has_descendents,
                                 coremask on_cores,
				 bool null_cap);
        message cap_send_reply(con_id_t con_id,
                               uint32 capid,
                               errval err);

        message span_domain_request(state_id_t state_id,
                                    genpaddr vnodebase,
                                    genpaddr framebase,
                                    uint8      framebits);
        message span_domain_reply(state_id_t state_id, errval err);

        /* Inter-monitor ping pong test messages */
        message pingpong(uint64 data);
        message test_pingpong(uint64 w0, uint64 w1, uint64 w2, uint64 w3,
                              uint64 w4, uint64 w5, uint64 w6, uint64 w7);

        /* Route setup calls */
        call join_route(ROUTE_TYPE route_type, routeid route_id);
        response route_done_join(routeid route_id, uint8 coreid,
                                 errval err, iref iref);
        call connect_neighbors(ROUTE_TYPE route_type, routeid route_id, 
                               uint8 irefs[size]);
        response route_done_connect(routeid route_id, errval err);

	// Resource control
	message rsrc_join(rsrcid id, uint8 coreid);
	message rsrc_join_complete(rsrcid id);
	message rsrc_phase_data(rsrcid id, uint32 phase, uint8 data[len]);
	message rsrc_timer_sync(uint64 timestamp);
	message rsrc_timer_sync_reply(errval err);

	// Change to given resource phase.
	// timestamp is the time (as the scheduler counts it) when the
	// message was sent, so other cores know what to relate
	// relative timestamps to.
	message rsrc_phase(rsrcid id, uint32 phase, uint64 timestamp);
	
	/* Multi-hop interconnect driver */
	
	// request routing table from monitor 0
	call multihop_routing_table_request(coreid_t my_coreid);
	response multihop_routing_table_response(int num_cores, coreid to[len]);

    // set up a new multihop virtual circuit
    call bind_multihop_intermon_request(iref iref, uint64 sender_vci, coreid core_id);         
    response bind_multihop_intermon_reply(uint64 receiver_vci, uint64 sender_vci, errval err);

    message multihop_message(uint64 vci, uint8 direction, uint8 flags, uint32 ack, uint8 payload[size]);
		
	call multihop_cap_send(uint64 vci, uint8 direction, uint32 capid, caprep cap, bool null_cap);
	response multihop_cap_reply(uint64 vci, uint8 direction, uint32 capid, errval err);
};
