/*
 * Copyright (c) 2018, ETH Zürich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitätstrasse 6, CH-8092 Zurich. Attn: Systems Group.
 */

interface kaluga "Kaluga to interface to request endpoints" {
	  rpc request_endpoint_cap(in uint8 type, in uint32 bus, in uint32 device, 
                               in uint32 function, out cap endpoint_cap);

	  rpc request_endpoint_cap_for_iommu(in uint8 type, in uint32 segmen, in uint32 bus, 
                                         in uint32 device, in uint32 function,
                                         in uint32 index, 
                                         out cap endpoint_cap);
};
