/** \file
 *  \brief Subways interface
 */

/*
 * Copyright (c) 2012, 2014, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface subways "Subways interface" {
	message startup(cap packets);
	message send(genvaddr offset, uint32 len, uint64 opaque);
	message tx_done(uint64 opaque);
};
