/*
 * Copyright (c) 2010, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */


interface usb_manager "USB Manager Interface" {
   

    rpc request_read(in uint8 request[req_length], 
                            out uint8 data[data_length], 
                            out uint16 ret_status);
                            
    rpc request_write(in uint8 request[req_length], 
                            in uint8 data[data_length],
                            out uint16 ret_status);
                            
    rpc request(in uint8 request[req_length], out uint16 ret_status);
    
    rpc connect(in uint16 init_config, out uint16 ret_status);
    
    message transfer_done_notify(uint32 offset, uint32 length);
    
    message transfer_start(uint8 xfer_id);
    
    message transfer_stop(uint8 xfer_id);
    
    rpc transfer_setup(in uint8 iface, in uint8 setup[setup_length], 
                       in uint8 setup_count, in cap buffer,
                       out uint16 status, out uint8 xfer_ids[xfer_count]);
    
    message transfer_unsetup(uint8 iface);
    
    message transfer_submit(uint8 xfer_id);
    
    message device_removed();    
    
    rpc transfer_status();
};