/** \file
 *  \brief Xeon Phi Messaging Interface
 */

/*
 * Copyright (c) 2012, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Universitaetsstrasse 6, CH-8092 Zurich. Attn: Systems Group.
 */

interface xeon_phi_messaging "Xeon Phi Messaging Interface" {
    
    message open(cap msgframe, uint8 type);
    
    message open_iface(cap msgframe, uint8 type, char iface[length]);
    
    message spawn(uint8 core, char name[length]);
};