# vim swap files
*~
*.swp
.*.swo
.*.swp
\#*
.\#*
.~*

# ctags
tags

.settings
/.dist-buildwrapper
/build
.cproject
.project
.arcconfig
sftp-config.json
.sync-config.cson

/.metadata/
/toolchain/
*.pyc

# Haskell and C intermediate files
*.o
*.hi
*.hi-boot
*.o-boot

# ctags
.tags_sorted_by_file
.tags

# Cscope
cscope.out

# Builds
build*/

# tup
.tup
bin/
/Tuprules.lua
/logs

# clang
.clang_complete
compile_commands.json
